<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/login-image.jpg')">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Bienvenido a Hello Me!</h1>
            <h3>Una red diseñada para conectarte con los tuyos</h3>
            <br />
            <img src="../../../../assets/img/logo2.png" alt="">
        </div>
    </div>

    <div class="footer register-footer text-center  ">
        
            <br />
            <button type="button" class="btn btn-outline-neutral btn-round " [routerLink]="['/login']" >INGRESAR</button>
            <br>
            <br>
            <br>
            <button type="button" class="btn btn-outline-neutral btn-round" [routerLink]="['/registro']" >REGISTRATE</button>
            <br>
            <br>
            <br>
            <button type="button" class="btn btn-outline-neutral btn-round" [routerLink]="['/creadores']" >CREADORES</button>
            <br>
            <br>
            <br>
            <button type="button" class="btn btn-outline-neutral btn-round" [routerLink]="['/metricas']">METRICAS</button>

    </div>

</div>

<div class="footer register-footer text-center">
    <h6>&copy;{{ test | date: "yyyy" }}, by Ingenieria en Sistemas UMG</h6>
  </div>
