<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="text-center">
  <form class="form-signin">
<img src="../../assets/img/Hellome.png" alt="" width="130px" height="130px">
<h1 id="ingresar" class="h3 mb-3 font-weight-normal">Ingresar</h1>
<p id="descripcion">Hello Me! te ayuda a comunicarte con las personas que forman parte de tu vida</p>
<label for="inputEmail" class="sr-only">Correo Electrónico</label>
<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
<label for="inputPassword" class="sr-only">Contraseña</label>
<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
<div class="checkbox mb-3">
  <label id="recordar">
    <input  type="checkbox" value="remember-me"> Recordar
  </label>
</div>
<button id="ingresarbt" class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
<br>
<button id="registrarse" class="btn btn-primary" type="submit">Registrarse</button>
<p class="mt-5 mb-3 text-muted">&copy; Dweb-2020</p>
</form>
</body>
</html>