<div class="wrapper">
  <div
    class="page-header"
    style="background-image: url('./assets/img/login-image.jpg')"
  >
    <div class="filter"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="mr-auto ml-auto">
          <div class="card card-register">
            <h3 class="title">Welcome</h3>
            <div class="social-line text-center">
              <a
                class="btn btn-neutral btn-facebook btn-just-icon"
                (click)="signInWithFB()"
              >
                <i class="fa fa-facebook-square"></i>
              </a>
            </div>
            <form class="register-form">
              <label>Email</label>
              <div
                class="input-group form-group-no-border"

                [ngClass]="{ 'input-group-focus': focus === true }"
              >
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="nc-icon nc-email-85"></i>
                  </span>
                </div>

                <input
                  type="text"
                  class="form-control"
                  placeholder="Email"
                  (focus)="focus = true"
                  (blur)="focus = false"
                  [(ngModel)]="userMail"
                  name="userMail"
                />
              </div>

              <label>Password</label>
              <div
                class="input-group form-group-no-border"
                [ngClass]="{ 'input-group-focus': focus1 === true }"
              >
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="nc-icon nc-key-25"></i>
                  </span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Password"
                  (focus)="focus1 = true"
                  (blur)="focus1 = false"
                  [(ngModel)]="userPassword"
                  name="userPassword"
                />
              </div>
              <button class="btn btn-danger btn-block btn-round" (click)="loginUser()">Login</button>
              <button
                class="btn btn-danger btn-neutral btn-block btn-round"
                [routerLink]="['/registro']"
              >
                Registrar
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="footer register-footer text-center">
        <h6>&copy;{{ test | date: "yyyy" }}, by Ingenieria en Sistemas UMG</h6>
      </div>
    </div>
  </div>
</div>
